doctype html
head
body
    nav
        ul
            li
                a(href='') FOOD DELIVERY
            li  
                a(href='') HOW IT WORKS
            li
                a(href='./login.html') LOG IN
            li
                a(href='./signUp.html') SIGN UP     



